Source: ubuntusway-artwork
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13), intltool
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway/ubuntusway-artwork
Rules-Requires-Root: no

Package: ubuntusway-artwork
Architecture: any
Depends: ${misc:Depends}, qt5-style-kvantum, yaru-theme-gtk, yaru-theme-icon
Description: artwork for Ubuntu Sway
 Artwork for Ubuntu Sway which contains the default wallpaper and default theming.
 
Package: plymouth-theme-ubuntusway-logo
Architecture: all
Depends: plymouth (>= 0.9.2-3ubuntu1~),
         plymouth-label,
         plymouth-themes,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Description: plymouth theme for Ubuntu Sway
 This package contains a Ubuntu Sway theme for Plymouth, which displays the
 Ubuntu Sway logo on boot.
 
Package: plymouth-theme-ubuntusway-text
Architecture: all
Depends: plymouth (>= 0.9.2-3ubuntu1~),
         plymouth-label,
         plymouth-theme-ubuntu-text,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Description: plymouth text theme for Ubuntu Sway
 This package contains a Ubuntu Sway theme for Plymouth, which displays some
 simple text on boot.

Package: ubuntusway-grub-theme
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Theme for Ubuntu Sway grub screen
 Custom grub theme for Ubuntu Sway. Inspired from
 Lubuntu theme.
