Source: ubuntu-sway-artwork
Section: x11
Priority: optional
Maintainer: Aleksey Samoilov <samoilov.lex@gmail.com>
Build-Depends: debhelper-compat (= 13), intltool
Standards-Version: 4.5.1
Homepage: https://github.com/Ubuntu-Sway/ubuntu-sway-artwork
Rules-Requires-Root: no

Package: ubuntu-sway-artwork
Architecture: any
Section: metapackages
Depends: ${misc:Depends}, ubuntu-sway-themes, ubuntu-sway-wallpapers
Conflicts: ubuntusway-artwork
Replaces: ubuntusway-artwork
Description: Ubuntu Sway themes and artwork
 This is a metapackage.

Package: ubuntu-sway-wallpapers
Architecture: any
Depends: ${misc:Depends}, ubuntu-wallpapers
Description: wallpapers for Ubuntu Sway
 This package provides the default wallpaper for Ubuntu Sway desktop.

Package: ubuntu-sway-themes
Architecture: any
Depends: ${misc:Depends}, qt5-style-kvantum, yaru-theme-gtk, yaru-theme-icon
Description: themes and color schemes for Ubuntu Sway desktop
 This package contains the default theming for Ubuntu Sway.
 
Package: plymouth-theme-ubuntu-sway-logo
Architecture: all
Depends: plymouth (>= 0.9.2-3ubuntu1~),
         plymouth-label,
         plymouth-themes,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: plymouth-theme
Conflicts: plymouth-theme-ubuntusway-logo
Replaces: plymouth (<< 0.8.1-1~), plymouth-theme-ubuntusway-logo
Description: plymouth theme for Ubuntu Sway
 This package contains a Ubuntu Sway theme for Plymouth, which displays the
 Ubuntu Sway logo on boot.
 
Package: plymouth-theme-ubuntu-sway-text
Architecture: all
Depends: plymouth (>= 0.9.2-3ubuntu1~),
         plymouth-label,
         plymouth-theme-ubuntu-text,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: plymouth-theme
Conflicts: plymouth-theme-ubuntusway-text
Replaces: plymouth (<< 0.8.1-1~), plymouth-theme-ubuntusway-text
Description: plymouth text theme for Ubuntu Sway
 This package contains a Ubuntu Sway theme for Plymouth, which displays some
 simple text on boot.

Package: ubuntu-sway-grub-theme
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: ubuntusway-grub-theme
Replaces: ubuntusway-grub-theme
Description: Theme for Ubuntu Sway grub screen
 Custom grub theme for Ubuntu Sway. Inspired from
 Lubuntu theme.
